.App {
  text-align: center;
}

.App-logo {
  height: 7vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: calc(5px + 2vmin);
  color: white;
}

.Table {
  padding: 1.5rem 2rem;
}

.Table > table {
  width: 70%;
  border-collapse: collapse;
  td,
  th {
    border: 1px solid #282c34;
    padding: 0.5rem;
  }

  .App-table-data-row:hover {
    background-color: #8ce1f9;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
